*{
	padding: 5px;
	margin: 5px;
}
body{
	background-color: blue;
}
h1{
	color:blue ;
	background-color:white ;
	text-align: center;
}
p{
	text-align: left;
	font-family: georgia;
	color: white;
}